* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy";
}

html, body {
  width: 100%;
  height: 100%;
}
#main{
    width: 100%;
    height: 100%;

}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#1d1c1c ;
    height: 10%;
    position: fixed;
    z-index: 100;
}
nav img{
    width: 6rem;
    margin-left: 3vw;
}
nav>div{
    margin-right: 3vw;
}
nav>div>a{
    color:#01fe87;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    padding:0 1.1rem;
}
@media (max-width: 767px) {
    nav img{
        width: 4rem;
        margin-left: 0.2vw;
    }
    nav>div>a{
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        padding: 0 0.6rem;
    }
    nav>div{
        margin-right: 0.4vw;
        display: flex;
    }
}
#section1{
    width: 100%;
    height: 100%;
    display: flex;
}
#sec1-left{
    width: 50%;
    height: 100%;
    background-color: #262626;
    display: flex;
    align-items: center;
    position: relative;
    
}
#sec1-left h1{
    color: white;
    font-size:5rem;
    padding: 0 11vw;
}
#sec1-left h1 span{
    position: relative;
    color: rgba(255, 255,255, 0.1);
    animation: displayText 9s infinite;
    animation-delay: calc(-3s * var(--i));
}
@keyframes displayText {
    0%{
        display: inline-block;
    }
    33.33%,100%{
        display: none;
    }
}
#sec1-left h1 span::before{
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    color: #01fe87;
    border-right: 4px solid #01fe87;
    filter: drop-shadow(0 0 5px #01fe87)
    drop-shadow(0 0 25px #01fe87);
    animation: animate 3s linear infinite;
}
@keyframes animate {
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
.buttonholder{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 70%;
    width: 70%;
    text-align: center;
}
.buttonholder h2{
    color: white;
    font-weight: 400;
    font-size: 1.9rem;
}
.buttonholder button{
    margin-top: 2vh;
    padding: 1rem 2rem;
    border-radius: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    font-weight: 500;
    box-shadow: 1px 1px 5px #01fe87;
}
.buttonholder h2 span{
    color: #01fe87;
    font-size: 1.8rem;
    font-weight: 600;
}
#sec1-right{
    width: 50%;
    height: 100%;
    background-color:#262626;
    position: relative;
    
}
#sec1-right #imageholder{
    width: 60%;
    height: 60%;
    overflow: hidden;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background:linear-gradient(#01fe87,rgba(0, 0, 0, 0.798)) ;   
}
#sec1-right #imageholder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(5px 5px 15px #222); 
}

@media (max-width: 767px){
    #section1{
        display: block;
        width: 100%;
        height: 70%;
    }
    #sec1-left{
        width: 100%;
    }
    #sec1-right{
        width: 100%;
    }
    .buttonholder{
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
        top: 85%;
        width: 100%;
        text-align: center;
    }
    #sec1-left h1{
        color: white;
        font-size:4.5rem;
        padding: 0 7.5vw;
    }
    .buttonholder h2{
        text-align: center;
        font-weight: 400;
        font-size: 1.4rem;
    }
    #sec1-right #imageholder{
        width: 80%;
        height:60%;   
    }
    .buttonholder button{
        margin-top: 3vh;
    }
}


